<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogError" value="True" />
    <add key="LogWarning" value="True" />
    <add key="LogInformation" value="True" />
    <add key="EventLoggerAdapterType" value="LoggerComponent.UnitTests.TestLogAdaptor,LoggerComponent.UnitTests" />
  </appSettings>
</configuration>